@page
@model NotesRazorApp.Pages.ViewNotesModel

@{
    ViewData["Title"] = "View notes";
}

<link href="~/css/view-notes.css" rel="stylesheet" />


<div class="container">

    <h1 class="text-primary mt-2 fs-4">Current notes</h1>

    <p>
        <a asp-page="NewNote" class="btn btn-success btn-sm">Create New</a>
    </p>


    <table class="table table-responsive table-info table-bordered table-striped">
        <thead>

            <tr>
                <th scope="col" class="text-start">
                    @Html.DisplayNameFor(model => model.Note[0].BodyText)
                </th>
                <th scope="col" class="text-start">
                    @Html.DisplayNameFor(model => model.Note[0].DueDate)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Note[0].Completed)
                </th>
                <th scope="col" class="text-start">
                    @Html.DisplayNameFor(model => model.Note[0].Category)
                </th>
                <th th scope="col"></th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model.Note)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BodyText)
                    </td>
  
                    <td>
                        @(item.DueDate.HasValue ? item.DueDate.Value.ToString("dd/MM/yyyy") : "")
                    </td>

                    <td>
                        @{
                            if (@item.Completed)
                            {
                                <i class="bi-check" style="font-size: 1.5rem; color: green;"></i>
                            }
                            else
                            {
                                <i class="bi-calendar" style="font-size: 1rem; color: darkred"></i>
                            }
                        }
                    </td>

                    <td>
                        @{
                            @item.Category.CategoryName
                            ;
                        }
                    </td>

                    <td>
                        <div class="btn-group" role="group">
                            <!-- View Button -->
                            <a asp-page="./DetailNote" 
                               asp-route-id="@item.NoteId"
                               class="btn btn-outline-primary btn-sm"
                               title="View">
                                <i class="bi bi-eye"></i>
                            </a>

                            <!-- Edit Button -->
                            <a asp-page="./EditNote" 
                               asp-route-id="@item.NoteId"
                               class="btn btn-outline-secondary btn-sm"
                               title="Edit">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <!-- Delete Button -->
                            <a asp-page="./RemoveNote" 
                               asp-route-id="@item.NoteId"
                               class="btn btn-outline-danger btn-sm"
                               title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

